@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
body {
  width: 100%;
  font-family: "Kumbh Sans", sans-serif;
}
/* Dividing the various parts area */
nav {
  height: 20%;
}
main {
  height: 70%;
}
main section .product-image,
main section .description {
  width: 50%;
  height: 100%;
}
.attribution {
  height: 10%;
}
/* Styling the navigation bar */

nav,
nav ul {
  display: flex;
}
nav ul {
  padding: 20px 20px 0 20px;
}
.navigationBar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f3f3f3;
}
.list {
  margin-left: 35px;
}
.cart-avatar {
  display: flex;
  width: 100px;
  justify-content: space-around;
  align-items: center;
  margin: 0 30px;
}
.cart-avatar .cart {
  width: 20px;
  height: 20px;
  margin: 0 10px;
  position: relative;
  display: inline-block;

}
.dropdown {
  display: none;
  position: absolute;
  background-color: white;
  min-width: auto;
  z-index: 1;
  margin: 22px 0;
  font-weight: bold;
  box-shadow: 0px 8px 16px 0px rgba(131, 122, 122, 0.2);
}

.cart-avatar .avatar {
  width: 40px;
  height: 40px;
  margin: 0 10px;
}
.cart-avatar .cart img,
.cart-avatar .avatar img {
  width: 100%;
  height: 100%;
}
.navigationBar ul li {
  padding: 15px;
  align-items: center;
  color: hsl(220, 14%, 75%);
  font-size: normal;
  font-weight: bold;
}
.menu {
  padding: 0 10px;
  display: none;
}

/* main body area */
.contents section {
  display: flex;
  padding: 50px 0;
}
.contents section aside {
  width: 40%;
}
.product-image .product {
  width: 100%;
  padding: 0 100px;
}
.product img {
  width: 100%;
  border-radius: 20px;
}

.product-image section {
  width: 100%;
  padding: 0 100px;
}
.previous,
.next {
  display: none;
}

/* thumbnails of the products */

.thumbnail {
  width: 150px;
  height: 120px;
  margin: 20px 8px;
  /* border: 3px transparent rgba(231,119,35, 1); */
  /* border-radius: 10px;   */
}
.image1 {
  margin-left: 0;
}
.active {
  opacity: 0.5;
}
.active-div {
  border: 3px solid rgba(231, 119, 35, 1);
  border-radius: 10px;
}
.image4 {
  margin-right: 0;
}
.thumbnail img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* description of the product */

.description {
  width: 50%;
  padding: 50px 150px;
}
.heading5 {
  font-size: small;
  font-weight: bolder;
  color: hsl(26, 100%, 55%);
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 50px 30px 40px 30px;
}
.price {
  display: flex;
}
.heading2,
.price .heading-price {
  font-size: xx-large;
  font-weight: bolder;
  letter-spacing: 1px;
  padding: 0 30px;
}
.para {
  color: hsl(220, 14%, 75%);
  padding: 30px 05px 30px 30px;
  line-height: 1.8;
  font-weight: bold;
}
.discount {
  color: hsl(26, 100%, 55%);
  font-weight: bold;
  border: 1px transparent;
  background-color: hsl(25, 100%, 94%);
  padding: 5px;
  height: 15px;
  border-radius: 5px;
}
.actual-price {
  color: hsl(220, 14%, 75%);
  padding: 15px 30px;
  font-weight: bold;
  text-decoration: line-through;
}

/* count of item - box styling */
.count-box {
  display: flex;
  background-color: #e9e9ed;
  width: 25%;
  min-height: 45px;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-radius: 5px;
}
.count-box button {
  border: none;
  background-color: #e9e9ed;
}
.buttons-section {
  display: flex;
  width: 100%;
  padding: 0 30px;
  justify-content: flex-start;
  align-content: center;
}

.button-cart {
  display: flex;
  /* padding: 8px 16px; */
  background-color: hsl(26, 100%, 55%);
  border: none;
  border-radius: 5px;
  color: hsl(0, 0%, 100%);
  align-items: center;
  justify-content: center;
  min-width: 180px;
  min-height: 45px;
  margin-left: 10px;
}
.button-cart img {
  filter: brightness(0) invert(1);
  width: 100%;
  height: 100%;
}
.image {
  width: 15px;
  height: fit-content;
  margin: 0 10px;
  stroke: hsl(26, 100%, 55%);
  stroke-width: 2px;
}
.image span {
  font-weight: bolder;
  line-height: 24px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* active states */

.navigationBar .list:hover {
  cursor: pointer;
  border-bottom: 5px solid hsl(26, 100%, 55%);
}
.thumbnail:hover {
  cursor: pointer;
  opacity: 0.5;
}
.count-box button {
  cursor: pointer;
}
.button-cart:hover {
  cursor: pointer;
  background-color: hsl(26, 90%, 65%);
}
.avatar:hover {
  cursor: pointer;
  border: 1.5px solid hsl(26, 100%, 55%);
  border-radius: 70px;
}
.cart:hover {
  cursor: pointer;  
}
.cart:hover .dropdown {
  display: block;
}


/* Mobile settings */

@media all and (max-width: 375px) {
  .navigationBar {
    width: 100%;
  }
  .menu {
    display: block;
  }
  .menu-logo img {
    padding: 0 4px;
  }
  .menu-logo {
    display: flex;
  }

  .list {
    display: none;
  }
  .cart-avatar {
    width: auto;
  }
  .cart-avatar .cart {
    width: 15px;
    height: 15px;
  }
  .cart-avatar .avatar {
    height: 25px;
    width: 25px;
  }
  main {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
  }
  .contents section {
    padding: 0;
    height: auto;
  }
  .contents section aside {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .thumbnail {
    display: none;
  }
  .product-image .product {
    padding: 0;
    z-index: 0;
  }
  .product img {
    border-radius: 0;
    width: 100%;
    height: 100%;
    position: relative;
  }
  .previous {
    display: block;
    width: 35px;
    height: 35px;
    z-index: 1;
    border-radius: 70px;
    background-color: white;
    left: 5%;
    position: absolute;
    top: 250px;
  }
  .previous img {
    width: 40%;
    height: 40%;
    left: 8px;
    top: 9px;
  }
  .next {
    display: block;
    width: 35px;
    height: 35px;
    z-index: 1;
    border-radius: 70px;
    background-color: white;
    left: 85%;
    position: absolute;
    top: 250px;
  }
  .next img {
    width: 40%;
    height: 40%;
    left: 10px;
    top: 9px;
  }
  .contents section .description {
    position: absolute;
    padding: 350px 0;
  }
  .price-area {
    display: flex;
    justify-content: space-between;
  }
  .buttons-section {
    flex-direction: column;
  }
  .count-box {
    margin: 20px;
    width: 65%;
  }
  .count-box div {
    font-weight: bold;
  }
  .button-cart {
    width: 100%;
  }
  .add-to-cart {
    margin: 0 10px;
    width: 70%;
    border: 0;
    box-shadow: 5px 10px 8px hsl(25, 100%, 94%);
  }
  .add-to-cart span {
    font-weight: 500;
  }
  .attribution {
    display: none;
  }
}
